<!DOCTYPE html>
<html>
<head>
  <title>Bootcat</title>
  <%= stylesheet_link_tag    "bootcat/application", media: "all" %>
  <%= javascript_include_tag "bootcat/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
